.container {
    max-width: 1110px;
    margin: 0 auto;
}

.rome-number {
    font-family: "Playfair Display";
    color: #fff;
    opacity: 2%;
    font-size: 400px;
    position: absolute;
    right: -10%;
    bottom: -100%;
    font-weight: 600;
}
